.logo {
  height: 3.2rem;
  margin-left: 2rem;
  cursor: pointer;
}
.search-box {
  display: flex;
  align-items: center;
  input {
    border: none;
    flex: 1 1 45rem;
    border-radius: 100px;
    padding: 0.7rem 2rem;
    outline: none;
    font-size: 1.4rem;
    font-family: inherit;
    background-color: var(--color-grey-light-2);
    transition: all 0.2s ease-in-out;
    // @media (max-width: 600px) {
    //   & {

    //   }
    // }
    &::placeholder {
      color: var(--color-grey-dark-3);
    }
    &:focus {
      width: 50rem;
      @media (max-width: 600px) {
        width: unset;
      }
    }
  }
}
.fas {
  font-size: 2rem;
  color: var(--color-grey-dark-2);
}
.fa-search {
  margin-left: -3.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.header-nav {
  display: flex;
  height: 100%;
  align-items: center;
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    right: 0;
    top: 0;
  }
  & > * {
    height: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    z-index: 9;
    @media (max-width: 600px) {
      padding: 2rem 0;
    }
    &:hover {
      background-color: var(--color-grey-light-2);
    }
    cursor: pointer;
  }

  i {
    position: relative;
    display: none;
  }
  span {
    background-color: var(--color-primary);
    color: #fff;
    width: 2rem;
    height: 2rem;
    padding: 0;
    font-size: 1rem;
    display: flex;
    align-items: center;
    font-family: var(--font);
    font-weight: 400;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 1.5rem;
    left: 2.5rem;
    user-select: none;
    @media (max-width: 600px) {
      top: 1.2rem;
      left: 0.8rem;
    }
  }
  .user-box {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    .user__photo {
      box-sizing: content-box;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin-right: 1rem;
    }
  }
}
.navigation {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  color: white;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  flex-direction: column;
  justify-content: space-between;
  font-family: inherit;
  ul {
    list-style: none;
    @media (max-width: 600px) {
      display: flex;
      justify-content: center;
      align-items: stretch;
    }
    li {
      position: relative;
      cursor: pointer;
      z-index: 2;
      &:first-of-type {
        margin-top: 2.5rem;
        @media (max-width: 600px) {
          margin-top: 0;
        }
      }
      &:not(:last-child) {
        margin-bottom: 0.5rem;
        @media (max-width: 600px) {
          margin-bottom: 0;
          margin-right: 2px;
        }
      }
      &::before {
        content: "";
        width: 0.3rem;
        height: 100%;
        background-color: var(--color-primary);
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleY(0);
        transition: transform 0.2s ease-in-out, width 0.2s ease-in-out 0.3s;
        transform-origin: center;
        z-index: -1;
      }
      &:hover::before {
        transform: scaleY(1);
        width: 100%;
      }
      &:active::before {
        background-color: var(--color-primary-dark);
      }
      &.active-li::before {
        transform: scaleY(1);
        width: 100%;
      }
      a {
        display: block;
        padding: 1.7rem 5rem;
        @media (max-width: 600px) {
          padding: 1rem 1.5rem;
          font-size: 1.2rem;
        }
        &:link,
        &:visited {
          text-decoration: none;
          text-transform: uppercase;
          color: #fff;
          font-family: inherit;
        }
      }
      i {
        color: #fff;
        font-size: 1.5rem;
        margin-right: 1rem;
      }
    }
  }
  .legal {
    font-family: var(--font);
    text-align: center;
    margin: 2.5rem;
    @media (max-width: 600px) {
      display: none;
    }
  }
}
.gallery-box {
  display: flex;
  figure {
    flex: 0 0 33.333%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.heading-bar {
  border-bottom: var(--border-bottom);
  height: 6.5rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  @media (max-width: 600px) {
    margin: 1rem 0;
    flex-direction: column;
    height: unset;
    & > * {
      margin: 1rem 0;
    }
  }
  h1 {
    text-transform: uppercase;
    font-weight: 300;
    color: inherit;
    font-size: 2.4rem;
    margin: 0 3rem;
    @media (max-width: 600px) {
      font-size: 2rem;
      margin: 0;
    }
  }
  .stars-container {
    display: flex;
    margin-right: auto;
    @media (max-width: 600px) {
      margin-right: 0;
    }
    .fa-star {
      color: #daa520;
    }
  }
  .location-box {
    display: flex;
    align-items: center;
    .fa-map-pin {
      color: var(--color-primary);
      font-size: 2rem;
      margin-right: 0.5rem;
    }
    address {
      font-style: normal;
      a {
        &:link,
        &:visited {
          display: block;
          text-decoration: none;
          color: var(--color-primary);
          font-size: 1.2rem;
          padding-bottom: 0.3rem;
          border-bottom: 1px solid currentColor;
        }
        &:focus {
          animation: pulsate 1s infinite;
        }
      }
    }
  }
  .average-rating {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    height: 100%;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    background-color: var(--color-primary);
    @media (max-width: 600px) {
      width: 100%;
      margin: 0;
    }
    .rating {
      font-size: 2.5rem;
      font-weight: 300;
    }
    .total_count {
      font-size: 1rem;
    }
  }
}
.description-box {
  display: flex;
  margin: 5rem;
  @media (max-width: 600px) {
    flex-direction: column;
    margin: 2rem 1rem 1rem;
  }
  .description {
    background-color: #fff;
    flex: 0 0 60%;
    margin-right: 5rem;
    padding: 3rem;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1);
    @media (max-width: 600px) {
      margin-right: 0;
    }
    .description__text {
      padding-bottom: 3rem;
      border-bottom: var(--border-bottom);
    }
    .list-box {
      border-bottom: var(--border-bottom);
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin: 3rem 2rem;
        @media (max-width: 600px) {
          margin: 3rem 1rem;
        }
        li {
          flex: 0 0 50%;
          margin-bottom: 0.7rem;
          &::before {
            content: ">";
            color: var(--color-primary);
            font-weight: bolder;
            font-size: 1.6rem;
            margin-right: 0.6rem;
          }
        }
      }
    }
    .recommend-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 3rem 1rem 0;
      span {
        color: var(--color-grey-dark-3);
        font-size: 1.3rem;
      }
      .img-box {
        display: flex;
        img {
          box-sizing: content-box;
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          border: 3px solid #fff;
          margin-right: -2rem;
        }
      }
    }
  }
  .review-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    figure {
      background-color: #fff;
      padding: 3rem;
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.1);
      position: relative;
      overflow: hidden;
      &:not(:last-of-type) {
        margin-bottom: 5rem;
        @media (max-width: 600px) {
          margin-top: 5rem;
          margin-bottom: 3rem;
        }
      }
      &::before {
        content: "\201C";
        font-size: 20rem;
        position: absolute;
        top: -9rem;
        left: -1rem;
        color: var(--color-grey-light-3);
        font-family: sans-serif;
        z-index: 1;
      }
      blockquote {
        margin-bottom: 2rem;
        z-index: 9;
        position: relative;
      }
      .review-details {
        display: flex;
        align-items: center;
        img {
          width: 4.5rem;
          height: 4.5rem;
          border-radius: 50%;
          margin-right: 1.5rem;
        }
        .review-person-details {
          display: flex;
          flex-direction: column;
          margin-right: auto;
          small {
            font-size: 1.1rem;
          }
          .review__person {
            text-transform: uppercase;
            font-weight: 600;
          }
          .review__date {
            font-size: 0.9rem;
            margin-top: 0.5rem;
            color: var(--color-grey-dark-3);
          }
        }
        .review_count {
          font-family: inherit;
          font-size: 2rem;
          font-weight: 300;
          color: var(--color-primary);
        }
      }
    }
    button {
      margin-top: 2rem;
      border: none;
      outline: none;
      color: var(--color-primary);
      font: inherit;
      border-bottom: 1px solid currentColor;
      background-color: transparent;
      cursor: pointer;
      font-size: 1.2rem;
      transition: 0.2s ease-in-out;
      &::after {
        content: "\2192";
        color: var(--color-primary);
        font-size: 1.2rem;
        margin-left: 0.5rem;
        transition: margin-left 0.2s ease-in-out;
      }
      &:hover::after {
        margin-left: 1.5rem;
      }
      &:focus {
        animation: pulsate 1s infinite;
      }
    }
  }
}
.cta-section {
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  border-top: var(--border-bottom);
  .cta {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 2rem;
      margin-bottom: 3rem;
      @media (max-width: 600px) {
        text-align: center;
      }
    }
    button {
      cursor: pointer;
      border: none;
      outline: none;
      color: #fff;
      background-image: linear-gradient(
        to right,
        var(--color-primary-dark),
        var(--color-primary-light)
      );
      text-transform: uppercase;
      padding: 2rem 8rem;
      border-radius: 100px;
      font-size: 1.5rem;
      position: relative;
      overflow: hidden;
      transition: background-image 0.15s ease-in-out;
      & > * {
        display: block;
        transition: all 0.15s;
        width: 100%;
        height: 100%;
      }
      .second-text {
        position: absolute;
        top: -100%;
        padding: 2rem;
        left: 0;
      }
      //   overflow: hidden;
      //   transition: transform 1s ease-in-out;
      &:hover {
        background-image: linear-gradient(
          to right,
          var(--color-primary-light),
          var(--color-primary-dark)
        );
        .first-text {
          transform: translateY(300%);
        }
        .second-text {
          top: 0;
        }
      }
      &:focus {
        animation: pulsate 1s infinite;
      }
    }
  }
}
