.container {
  width: 130rem;
  max-width: 100%;
  background-color: var(--color-grey-light-1);
  margin: 8rem auto;
  @media (max-width: 600px) {
    margin: 0;
  }
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.4);
}
header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--border-bottom);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @media (max-width: 600px) {
    justify-content: unset;
  }
}
.content-box {
  display: flex;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}
.main-content {
  flex: 1;
  background-color: var(--color-grey-light-1);
}

// *Todo: 780px viewport width
